body {
  background-color: #bcc9b7;
  font-family: 'Varela Round', sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.strike-through-text {
  text-decoration: line-through;
}
